<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>的方法等丰富的</title>
		<meta name="description" content="沃易购-终端B2B交易生态圈" />
		<meta name="Keywords" content="沃易购,终端B2B交易生态圈" />
		
	</head>
	<body>
大家可否将对方觉得付快递费打款
		$screen_content
		
	</body>
</html>